:root {
    --eggshell: #F0EAD6;
    --textcolor: #53514d;
    --accent:#005B47;
    --hovercolor: #D9CDB6;
    --originaltextcolor: #53514d;
}

html {
    background-color: var(--eggshell);
    font-family: 'Oswald', sans-serif;
    color: var(--textcolor);
}
body {
    background-color: var(--eggshell);
    color: var(--textcolor);
    font-family: 'Oswald', sans-serif;
}
button + button {
    margin-left: 10px;
}
input + button {
    margin-bottom: 5px;
}

/* -------- SPLIT ---------- */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------- LOGIN PAGE --------- */
.login {
    text-align: center;
    padding-top: 10%;
    width: 800px;
}
.login img {
    width: 80px;
}
.login button {
    background: var(--hovercolor);
    width: 50%;
    color: var(--textcolor);
    border: 1px solid var(--hovercolor);
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; 
}
.login button:hover {
    background: var(--eggshell);
    border: 1px solid var(--eggshell);
    color: var(--textcolor);
}
.login-fields {
    color: #F8E7D0;
    display: grid;
    width: 50%;
}
.login-fields input {
    border: 1px;
    border-radius: 5px;
    background: var(--hovercolor);
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
}
.login-fields input:focus {
    border: 2px solid var(--hovercolor);
}

/* - MAIN PAGE - */
.header-title {
    text-align: center;
    display: inline;
}
.header-title img {
    width: 80px;
    padding-right: 2%;
    vertical-align: middle;
}
.header-title h1 {
    display: inline-block;
}

.header-title button {
    width: 200px;
    background: var(--hovercolor);
    color: var(--textcolor);
    border: 1px solid var(--hovercolor);
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.header-title button:hover {
    background: #F0EAD6;
    border: 1px solid var(--textcolor);
    color: var(--textcolor);
}
.header-title-logout {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* - middle page posting box- */
.container {
    display: block;
    text-align: center;
}
.container textarea {
    margin-top: 10px;
    width: 410px;
    height: 250px;
    border-radius: 5px;
    font-size: 20px;
}
.container button {
    width: 400px;
    background: var(--hovercolor);
    color: var(--textcolor);
    border: 1px solid var(--hovercolor);
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.container button:hover {
    background: #F0EAD6;
    border: 1px solid var(--textcolor);
    color: var(--textcolor);
}
/* - bottom page quotes container - */
.quotes {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    overflow-y: scroll;
    height: 600px;
}
.card {
    background: #ffff;
    color: var(--textcolor);
    
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(var(--textcolor), 0.12);
    
    position: relative;
    overflow: hidden;
    min-height: 100px;
    min-width: 600px;
    max-width: 800px;
}
/* .card blockquote {
    display: flex;
} */
.quotes img {
    width: 20px;
}
.quotes button {
    border: 0px;
    background-color: var(--hovercolor);
}
.quotes button:hover {
    border: 0px;
    background-color: #9d1d06;
}

/* -------- NEW CREDENTIALS PAGE --------- */
.change-credentials {
    text-align: center;
    padding-top: 10%;
    width: 800px;
}
.change-credentials button {
    background: var(--hovercolor);
    width: 100%;
    color: var(--textcolor);
    border: 1px solid var(--hovercolor);
    border-radius: 5px;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; 
}
.change-credentials button:hover {
    background: #F0EAD6;
    border: 1px solid var(--textcolor);
    color: var(--textcolor);
}
.remake-login-fields {
    color: #F8E7D0;
    display: grid;
    width: 50%;
}
.remake-login-fields input {
    border: 1px;
    border-radius: 5px;
    background: var(--hovercolor);
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
}
.remake-login-fields input:focus {
    border: 2px solid var(--hovercolor);
}
